.found-items-container{
    height: 521px;
    width: 600px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
.found-item{
    display: flex;
    align-items: center;
    gap: 24px;
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);;
    padding: 16px 16px 16px 0;
    height: 100px;
}
.found-item__info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.found-item__header-line,
.found-item__footer-line{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.found-item__footer-line{
    margin-top: 5px;
}
.found-item__header-line h4{
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #424242;
}
.found-item__middle-line{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
    display: flex;
    align-items: center;
    gap: 10px;
}
.price__text{
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #878787;
}
.price__number{
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    text-align: right;
    letter-spacing: -0.408px;
    color: #424242;
}
.found-item__price{
    display: flex;
    align-items: baseline;
    gap: 16px;
    justify-content: space-between;
    height: 100%;
}
.found-item__star{
    color: #C4C3B5;
    font-size: 18px;
}
.active{
    color: #CDBC1E;
}
img[alt='house']{
    padding: 13px 15px 16px 14px;
    background: url('../../../public/images/hotel-img.png');
    background-position: center center;
}
.found-item__Heart{
    width:30px;
    height:27px;
    cursor: pointer;
}
.found-item__Heart_colored{
    color:#E55858;
}
.found-item__Heart_outline{
    color:#C4C4C4;
}

.found-items-container::-webkit-scrollbar {
    width: 2px;
    background-color: #E7E7E7;
}
.found-items-container::-webkit-scrollbar-thumb {
    background: #41522E;
    border-radius: 2px;
}
.found-items-container ::-webkit-scrollbar-button {
    background-color: transparent;
}
.found-items-container {
    scrollbar-width: thin;          /* "auto" или "thin" */
    scrollbar-color: #41522E #E7E7E7;   /* цвет бегунка и зоны отслеживания */
}
.check-text{
    align-self: center;
    margin: auto 0;
}