.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid #000;
}
.header__logo{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.header__exit{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
}