.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 32px;
}
.header__logo{
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}
.header__exit{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    letter-spacing: -0.408px;
    gap: 12px;
    color: #41522E;
    cursor: pointer;
}
.header__exit:hover{
    color: #41522e94;
}